  <div class="center jumbotron">
    <h1>Sample App</h1>

    <p>
      このアプリは<a href="https://railstutorial.jp/">Railsチュートリアル</a>本章に加え以下の演習課題の機能を加えたものです。
    </p>
    <ul=class="add-func">
      <li>リプライ機能</li>
      <li>ダイレクトメッセージ機能</li>
    </ul>
    <h2>
      以下のアカウントで動作確認いただけます。<br>
      e-mail: <strong>guest@email.com</strong><br>
      pass:   <strong>password</strong>
    </h2>
    <h2>
      作者はRailsエンジニアとしての就職を目指しています。<br>
      Railsチュートリアル完走後の学習の進め方や、転職活動について、<br>
      <a href="https://twitter.com/tempalkun">こちら</a>までアドバイスをお寄せいただけると幸いです。
    </h2>

    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  </div>

  <%= link_to image_tag("rails.png", alt: "Rails logo"),
              'http://rubyonrails.org/' %>