<% provide(:title, 'Messages') %>

<select onchange="window.location=this.value"  class="form-control">
  <option>Select User</option>
  <% @relate_users.each do |r| %> 
    <option value="users/<%= r.id %>/messages"><%= r.name %></option>
  <% end %>
</select>

<ul class="users">
  <% @chats.each do |chat| %>
    <% #unless chat == current_user %>
      <%= render partial: "chat", locals: {user: chat} %>
    <% #end %>
  <% end %>
</ul>
