
<!-- <head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head> -->
<h1>Sample App</h1>


<p>Hi <%= @followed.name %>,</p>


<p><%= link_to @user.name, user_url(@user) %> followed your account.</p>